:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  /* neutral */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: rgba(0,0,0,0.75);

  --font-size: 16px;
  --weight-normal: 400;
  --weight-bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-weight: var(--weight-normal);
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity .25s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

/*========*/
/* HEADER */
/*========*/

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  /* height: 100px; */
  border-bottom: 1px solid var(--grayish-blue);
}

.header__logo {
  margin: 0 50px 0 0;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 14px;
}

.header__list a {
  display: flex;
  align-items: center;
  height: 100px;
  color: var(--dark-grayish-blue);
  border-bottom: 5px solid transparent;
  transition: color .25s ease-in-out, border-color .25s ease-in-out;
}

.header__list a:hover {
  color: black;
  border-color: var(--orange);
}

.header__cart-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__cart-count {
  font-size: 10px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 6px;
}

.header__profile-btn {
  margin-left: 30px;
}

.header__avatar {
  width: 50px;
}

/*======*/
/* MAIN */
/*======*/

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main__container {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/*========*/
/* IMAGES */
/*========*/

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 400px;
}

.images__main {
  grid-column: 1/5;
}

.images img {
  height: 100%;
  border-radius: 10px;
}

.images img:nth-child(2) {
  grid-column: 1/2;
}
.images img:nth-child(3) {
  grid-column: 2/3;
}
.images img:nth-child(4) {
  grid-column: 3/4;
}
.images img:nth-child(5) {
  grid-column: 4/5;
}

/*=============*/
/* DESCRIPTION */
/*=============*/

.description {
  max-width: 400px;
}

.description__company {
  margin-bottom: 10px;
  color: var(--orange);
  font-size: 14px;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.description__title {
  margin: 0;
  font-size: 36px;
  font-weight: var(--weight-bold);
}

.description__text {
  color: var(--dark-grayish-blue);
}

.description__actual-price {
  display: flex;
  align-items: center;
}

.description__price {
  margin-right: 20px;
  font-size: 20px;
  font-weight: var(--weight-bold);
}

.description__discount {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: var(--weight-bold);
  color: var(--orange);
  background-color: var(--pale-orange);
  border-radius: 3px;
}

.description__old-price {
  font-size: 12px;
  font-weight: var(--weight-bold);
  text-decoration: line-through;
  color: var(--grayish-blue);
}

.description__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.description__count {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: var(--light-grayish-blue);
  border-radius: 6px;
}

.description__count-btn {
  font-size: 18px;
  color: var(--orange);
  font-weight: var(--weight-bold);
}

.description__count-number {
  font-size: 12px;
  font-weight: var(--weight-bold);
}

.description__add-btn {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 8px;
}

/*======*/
/* CART */
/*======*/

.cart {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 300px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.1);
}

.cart__header {
  padding: 14px 20px;
  font-size: 14px;
  font-weight: var(--weight-bold);
  border-bottom: 1px solid var(--grayish-blue);
}

.cart__main {
  padding: 20px;
}

.cart__empty {
  color: var(--grayish-blue);
}

.cart__item {
  display: grid;
  gap: 3px;
  grid-template-columns: 50px 1fr 20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.cart__img {
  border-radius: 6px;
}

.cart__title {
  margin: 0;
  font-size: 12px;
  font-weight: var(--weight-normal);
  color: var(--dark-grayish-blue);
}

.cart__price-single {
  margin-right: 10px;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}

.cart__price-sum {
  font-size: 14px;
  font-weight: var(--weight-bold);
}

.cart__checkout-btn {
  width: 100%;
  padding: 12px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 6px;
}